.order
  width 100%
  .header
    display flex
    justify-content space-between
    margin-bottom 30px

  .content
    display flex
    justify-content space-around
    margin-bottom 30px

    .infosOrder
      padding 8px 10px

    .infosClient
      padding 8px 10px