.menu
  &>h2
    color rgba(255, 255, 255, 0.95)
    font-size 1.4em
    margin-bottom 1em

  .selected
    a
      color white
      font-weight bold
  li
    list-style none
    margin-bottom 0.8em
    a
      color grey
      text-decoration none
      font-weight 400
